/* GLOBAL */
body {
    margin: 0;
    padding: 0;
    background: #0f0f0f;
    color: white;
    font-family: Bahnschrift, sans-serif;
    transition: background 0.3s, color 0.3s;
}

body.light {
    background: #fafafa;
    color: #111;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    background: #1c1c1c;       /* lightened from #0f0f0f */
    border-bottom: 1px solid #333;
    z-index: 1000;
}

body.light .navbar {
    background: #f0f0f0;       /* lighter */
    border-bottom: 1px solid #ddd;
}

.navbar a {
    margin-left: 20px;
    text-decoration: none;
    color: #ccc;
    transition: 0.2s;
}

body.light .navbar a {
    color: #444;
}

.navbar a:hover {
    color: white;
}

body.light .navbar a:hover {
    color: black;
}

/* DARK MODE TOGGLE BTN */
.theme-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    color: white;
    transition: 0.2s;
}

body.light .theme-btn {
    color: black;
}

/* PAGE LAYOUT */
.section {
    padding: 80px 40px;
    max-width: 900px;
    margin: auto;
}

.title {
    font-size: 42px;
    margin-bottom: 20px;
}

.subtitle {
    color: #aaaaaa;
    font-size: 20px; /* change this */
}

body.light .subtitle {
    color: #555;
}

body {
    font-size: 20px; /* base size */
}


/* Buttons */
.btn {
    background: #1c1c1c;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #444;
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

body.light .btn {
    background: white;
    color: black;
    border: 1px solid #ddd;
}

.btn:hover {
    background: #4da3ff;
    color: black;
}

/* Projects Grid */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    margin-top: 40px;
}

.project-card {
    background: #1b1b1b;
    border: 1px solid #333;
    border-radius: 12px;
    padding: 20px;
    transition: 0.3s;
}

body.light .project-card {
    background: #fff;
    border: 1px solid #ccc;
}

.project-card:hover {
    transform: translateY(-5px);
    border-color: #4da3ff;
}

.project-card img {
    width: 100%;
    max-width: 700px;   /* adjust this to any size you want */
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

