body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.section {
    padding: 50px;
    text-align: center;
}

.project {
    margin: 20px 0;
}

.project img {
    width: 300px;
    border-radius: 10px;
}
